body {
    background-color: $base;
    padding-top: 15px;
    position: relative;
}

@keyframes colour {
    20% { 
        background-color: rgba(15, 192, 252, 0.3);
    } 
    30% { 
        background-color: rgba(123, 29, 175, 0.3); 
    } 
    40% { 
        background-color: rgba(255, 47, 185, 0.3);
    } 
    50% { 
        background-color: rgba(212, 255, 71, 0.3);
    }
    60% { 
        background-color: rgba(50, 205, 50, 0.3);
    }
    70% {
        background-color: $base;
    }
}

.changeColour {
    animation: colour 5s infinite;
}