.textBox {
    border: 10px dotted #DA9F93;
    text-align: center;
    width: 50%;
    min-width: 245px;
    margin: 0 auto;
    padding: 50px 50px 55px 50px;
    &__extraMargin {
        margin-top: 50px;
    }
    @media (max-width: 695px) {
        margin-bottom: 50px;
    }
} 