.adventureItems {
    width: 250px;
    height: 250px;
    position: absolute;
    right: 350px;
    bottom: 300px;
    display: flex;
    align-items: flex-end;
}

.adventureMarginMouse {
    margin-bottom: 77px;
}

.adventureMarginBrickWall {
    margin-bottom: 41px;
}

.adventureMarginEvilRobot {
    margin-bottom: 77px;
}

// COOKIES 
.cookieBin {
    display: flex;
}

.cookie {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #C5973C;
    position: relative;
    box-shadow: 5px 5px 0px #BD8820;
}

.chip {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #47330C;
    position: relative;
}

.chip1 {
    top: 10px;
    left: 50px;
}

.chip2 {
    top: 50px;
    left: 10px;
}

.chip3 {
    top: 10px;
    left: 40px;
}

.chip4 {
    top: 15px;
    left: 70px;
}

.chip5 {
    top: -30px;
    left: 5px;
}

.chip6 {
    left: 50px;
}

// cookie #2
.chip7 {
    top: 10px;
    left: 50px;
}

.chip8 {
    top: 50px;
    left: 10px;
}

.chip9 {
    top: 10px;
    left: 60px;
}

.chip10 {
    top: 25px;
    left: 50px;
}

.chip11 {
    top: -30px;
    left: 5px;
}

.chip12 {
    top: -55px;
    left: 70px;
}

//  MOUSE
.mouse {
    position: relative;
    left: 50px;
}

.mouseBody {
    width: 115px;
    height: 50px;
    background-color: grey;
    border-radius: 70px 150% 100% 30px;
}

.mouseEye {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    top: 15px;
    left: 95px;
    z-index: 1;
}

.mouseEar {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 100%;
    position: relative;
    bottom: 70px;
    left: 60px;
}

.mouseEarInner {
    width: 15px;
    height: 15px;
    background-color: pink;
    border-radius: 50px 50px 0px 0px;
    position: absolute;
    bottom: 82px;
    left: 65px;
}

.mouseNose {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: pink;
    position: absolute;
    left: 110px;
    bottom: 55px;
}

.mouseTail1 {
    background-color: pink;
    border-radius: 100%;
    width: 75px;
    height: 5px;
    position: relative;
    bottom: 50px;
    right: 70px;
    z-index: -1;
}

// BRICK WALL
.brickWall {
    width: 300px;
    box-shadow: 5px 5px 0 #a04f2a;
}

.brick {
    background-color: #a04f2a;
    height: 50px;
    border: 2px solid lightgrey;
    border-radius: 2px;
}

.edgeBrick {
    width: calc(100% / 3);
}

.midRowBrick {
    width: calc(100% / 4);
}

.row {
    display: flex;
}

// EVIL ROBOT
@keyframes blink {
    50% {
        background-image: radial-gradient(circle, red 15%, transparent 40%);
    }
    100% {
        background-image: radial-gradient(circle, red 55%, transparent 70%);
    }
}

.evilRobot {
    position: absolute;
    left: 250px;
    top: 10px;
}

.evilRobot__head {
    width: 180px;
    height: 0;
    border-top: 150px solid green;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: relative;
    left: 10px;
}

.evilRobot__eye {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: radial-gradient(circle, white 15%, transparent 40%);
    border-radius: 100%;
    animation: blink 0.5s infinite;
}

.evilRobot__leftEye {
    bottom: 50px;
    left: 25px;
}

.evilRobot__rightEye {
    bottom: 50px;
    right: 25px;
}

.evilRobot__mouth {
    width: 50px;
    height: 50px;
    background-color: silver;
    position: relative;
    bottom: 60px;
    left: 15px;
    border-radius: 100% 100% 0 0;
}

.evilRobot__torso {
    width: 200px;
    height: 300px;
    background-color: green;
}

.evilRobot__leftArm {
    font-family: sans-serif;
    font-weight: bold;
    width: 150px;
    height: 50px;
    background-color: green;
    transform: rotate(200deg);
    position: relative;
    top: -55px;
    left: -135px;
}

.evilRobot__rightArm {
    font-family: sans-serif;
    font-weight: bold;
    width: 150px;
    height: 50px;
    background-color: green;
    transform: rotate(-200deg);
    position: relative;
    top: -105px;
    left: 185px;
}

.evilRobot__belt {
    width: 200px;
    height: 30px;
    background-color: darkmagenta;
    position: relative;
    top: 150px;
}

.evilRobot__wheel {
    height: 40px;
    width: 40px;
    background: lightgrey;
    border-radius: 40px;
    border: 15px solid darkgrey;
    position: absolute;
    z-index: -1;
}

.evilRobot__wheel1 {
    bottom: -30px;
    left: 145px;
}

.evilRobot__wheel2 {
    bottom: -30px;
    left: 15px;
}

// TREASURE
.treasure {
    position: relative;
    top: 150px;
}

.lid {
    width: 300px;
    height: 150px;
    background-color: #654321;
    border-radius: 16px;
    border: 16px solid saddlebrown;
    position: relative;
    left: 165px;
}

.gold {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: yellow;
    position: absolute;
    z-index: 1;
}

.gold1 {
    left: -10px;
    top: 105px;
}

.gold2 {
    left: 40px;
    top: 110px;
}

.gold3 {
    left: 110px;
    top: 115px;
}

.gold4 {
    left: 190px;
    top: 119px;
}

.gold5 {
    left: 240px;
    top: 108px;
}

.bottom {
    width: 400px;
    height: 200px;
    background-color: saddlebrown;
    border-radius: 16px;
    position: relative;
    left: 115px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 2;
}

.bottomBoard {
    border-bottom: 10px solid #654321;
    height: 50px;
}

.lock {
    width: 70px;
    height: 90px;
    border-radius: 16px;
    background-color: gold;
    position: absolute;
    left: 165px;
}

.lockKeyHole1 {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #d07707;
    position: relative;
    top: 10px;
    left: 20px;
}

.lockKeyHole2 {
    width: 15px;
    height: 25px;
    border-radius: 50px 50px;
    background-color: #d07707;
    position: relative;
    top: 5px;
    left: 27px;
}