html {
    font-size: 62.5%;
}

h1 {
    color: $text;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 3.8rem;
    margin-top: 20px;
}

p {
    color: $text;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 3.6rem;
}

a {
    color: $accent;
}

.standOut, 
.validateMessage {
    color: $attentionText;
}

.validateMessage {
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 45px;
    margin-top: 5px;
}