html {
    font-size: 62.5%;
}

h1 {
    color: $text;
    font-family: 'Nunito', sans-serif;
    font-size: 3.8rem;
    text-align: center;
    margin-top: 20px;
}

p {
    color: $text;
    font-family: 'Nunito', sans-serif;
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 3.6rem;
}

a {
    color: $accent;
}

.standOut, 
.validateMessage {
    color: $attentionText;
}

.validateMessage {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    margin: 5px 0 0 45px;
}

@keyframes textColour {
    20% { 
        color: #555;
    } 
    60% {
        color: #555;
    }
    70% {
        color: $text;
    }
}

.changeTextColour {
    animation: textColour 5s infinite;
}