/* Naming Convention Used: BEM (https://css-tricks.com/bem-101/) w/ camelCase and Media Query Bubbling (https://www.creativebloq.com/how-to/how-to-structure-media-queries-in-sass) */
/* File & Folder Convention Used: 7-1 Pattern (https://sass-guidelin.es/#the-7-1-pattern) w/ camelCase */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

html {
  font-size: 62.5%;
}

h1 {
  color: #F9BF98;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 3.8rem;
  margin-top: 20px;
}

p {
  color: #F9BF98;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 3.6rem;
}

a {
  color: #DA9F93;
}

.standOut,
.validateMessage {
  color: cornsilk;
}

.validateMessage {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 45px;
  margin-top: 5px;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #664c43;
  padding-top: 15px;
  position: relative;
}

@-webkit-keyframes colour {
  20% {
    background-color: rgba(15, 192, 252, 0.3);
  }
  30% {
    background-color: rgba(123, 29, 175, 0.3);
  }
  40% {
    background-color: rgba(255, 47, 185, 0.3);
  }
  50% {
    background-color: rgba(212, 255, 71, 0.3);
  }
  60% {
    background-color: rgba(50, 205, 50, 0.3);
  }
  70% {
    background-color: #664c43;
  }
}

@keyframes colour {
  20% {
    background-color: rgba(15, 192, 252, 0.3);
  }
  30% {
    background-color: rgba(123, 29, 175, 0.3);
  }
  40% {
    background-color: rgba(255, 47, 185, 0.3);
  }
  50% {
    background-color: rgba(212, 255, 71, 0.3);
  }
  60% {
    background-color: rgba(50, 205, 50, 0.3);
  }
  70% {
    background-color: #664c43;
  }
}

.changeColour {
  -webkit-animation: colour 5s infinite;
          animation: colour 5s infinite;
}

.JQ {
  width: 175px;
  height: 130px;
  border-radius: 50% 50% 75px 75px;
  background-color: bisque;
  margin: 50px auto 75px auto;
  position: relative;
  -webkit-animation: bounce 3s ease infinite;
          animation: bounce 3s ease infinite;
}

.JQ__eye {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #272727;
  position: absolute;
}

.JQ__eyeShine {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.JQ__cheek {
  width: 20px;
  height: 10px;
  border-radius: 50%;
  background-color: pink;
  position: absolute;
}

.JQ__defaultMouth {
  width: 20px;
  height: 10px;
  border-radius: 0 0 50% 50%;
  background-color: #FA8072;
  position: absolute;
  top: 70px;
  left: 75px;
}

.leftEye {
  top: 45px;
  left: 45px;
}

.rightEye {
  top: 45px;
  right: 45px;
}

.leftEyeShine {
  top: 3px;
  left: 2px;
}

.rightEyeShine {
  top: 3px;
  left: 2px;
}

.leftCheek {
  top: 70px;
  left: 40px;
}

.rightCheek {
  top: 70px;
  right: 40px;
}

.JQ__happyEyes {
  position: relative;
  color: #272727;
}

.JQ__happyLeftEye,
.JQ__happyRightEye {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 3.6rem;
  position: absolute;
}

.JQ__happyLeftEye {
  top: 30px;
  left: 50px;
}

.JQ__happyRightEye {
  top: 30px;
  left: 110px;
}

.JQ__wonderUhOhMouth {
  width: 20px;
  height: 10px;
  border-radius: 100%;
  background-color: #FA8072;
  position: absolute;
  top: 70px;
  left: 75px;
}

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    border-radius: 50% 50% 45px 45px;
    -webkit-box-shadow: 0 6px 2px -2px #272727;
            box-shadow: 0 6px 2px -2px #272727;
  }
}

@keyframes bounce {
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    border-radius: 50% 50% 45px 45px;
    -webkit-box-shadow: 0 6px 2px -2px #272727;
            box-shadow: 0 6px 2px -2px #272727;
  }
}

.textBox {
  border: 10px dotted #DA9F93;
  width: 50%;
  min-width: 245px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 50px 55px 50px;
}

@media (max-width: 695px) {
  .textBox {
    margin-bottom: 50px;
  }
}

.textBoxExtraMargin {
  margin-top: 50px;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

button {
  background-color: #DA9F93;
  color: #463F3A;
  padding: 20px 30px;
  font-size: 2.0rem;
  font-weight: 700;
  margin-top: 25px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 0 0 #463F3A;
          box-shadow: 10px 10px 0 0 #463F3A;
  cursor: pointer;
}

button:hover {
  background-color: #967d69;
  color: cornsilk;
}

button:active {
  -webkit-box-shadow: 5px 5px 0 0 #463F3A;
          box-shadow: 5px 5px 0 0 #463F3A;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.initiallyHidden {
  display: none;
}

input {
  border: none;
  margin-top: 25px;
  padding: 20px 30px;
  border-radius: 10px;
  width: 90%;
  font-size: 2.0rem;
}

.validateHighlight {
  -webkit-box-shadow: 0px 0px 10px cornsilk;
          box-shadow: 0px 0px 10px cornsilk;
}

.adventureItems {
  width: 250px;
  height: 250px;
  position: absolute;
  right: 350px;
  bottom: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.adventureMargin {
  margin-bottom: 75px;
}

.cookieBin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cookie {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #C5973C;
  position: relative;
  -webkit-box-shadow: 5px 5px 0px #BD8820;
          box-shadow: 5px 5px 0px #BD8820;
}

.chip {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #47330C;
  position: relative;
}

.chip1 {
  top: 10px;
  left: 50px;
}

.chip2 {
  top: 50px;
  left: 10px;
}

.chip3 {
  top: 10px;
  left: 40px;
}

.chip4 {
  top: 15px;
  left: 70px;
}

.chip5 {
  top: -30px;
  left: 5px;
}

.chip6 {
  left: 50px;
}

.chip7 {
  top: 10px;
  left: 50px;
}

.chip8 {
  top: 50px;
  left: 10px;
}

.chip9 {
  top: 10px;
  left: 60px;
}

.chip10 {
  top: 25px;
  left: 50px;
}

.chip11 {
  top: -30px;
  left: 5px;
}

.chip12 {
  top: -55px;
  left: 70px;
}

.mouse {
  position: relative;
  left: 50px;
}

.mouseBody {
  width: 115px;
  height: 50px;
  background-color: grey;
  border-radius: 70px 150% 100% 30px;
}

.mouseEye {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  top: 15px;
  left: 95px;
  z-index: 1;
}

.mouseEar {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 100%;
  position: relative;
  bottom: 70px;
  left: 60px;
}

.mouseEarInner {
  width: 15px;
  height: 15px;
  background-color: pink;
  border-radius: 50px 50px 0px 0px;
  position: absolute;
  bottom: 82px;
  left: 65px;
}

.mouseNose {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: pink;
  position: absolute;
  left: 110px;
  bottom: 55px;
}

.mouseTail1 {
  background-color: pink;
  border-radius: 100%;
  width: 75px;
  height: 5px;
  position: relative;
  bottom: 50px;
  right: 70px;
  z-index: -1;
}

.brickWall {
  width: 300px;
  -webkit-box-shadow: 5px 5px 0 #a04f2a;
          box-shadow: 5px 5px 0 #a04f2a;
}

.brick {
  background-color: #a04f2a;
  height: 50px;
  border: 2px solid lightgrey;
  border-radius: 2px;
}

.edgeBrick {
  width: calc(100% / 3);
}

.midRowBrick {
  width: calc(100% / 4);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes blink {
  50% {
    background-image: radial-gradient(circle, red 15%, transparent 40%);
  }
  100% {
    background-image: radial-gradient(circle, red 55%, transparent 70%);
  }
}

@keyframes blink {
  50% {
    background-image: radial-gradient(circle, red 15%, transparent 40%);
  }
  100% {
    background-image: radial-gradient(circle, red 55%, transparent 70%);
  }
}

.evilRobot {
  position: absolute;
  left: 250px;
  top: 10px;
}

.evilRobot__head {
  width: 180px;
  height: 0;
  border-top: 150px solid green;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  position: relative;
  left: 10px;
}

.evilRobot__eye {
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: radial-gradient(circle, white 15%, transparent 40%);
  border-radius: 100%;
  -webkit-animation: blink 0.5s infinite;
          animation: blink 0.5s infinite;
}

.evilRobot__leftEye {
  bottom: 50px;
  left: 25px;
}

.evilRobot__rightEye {
  bottom: 50px;
  right: 25px;
}

.evilRobot__mouth {
  width: 50px;
  height: 50px;
  background-color: silver;
  position: relative;
  bottom: 60px;
  left: 15px;
  border-radius: 100% 100% 0 0;
}

.evilRobot__torso {
  width: 200px;
  height: 300px;
  background-color: green;
}

.evilRobot__bolt {
  width: 10px;
  height: 10px;
  background-color: silver;
  position: absolute;
  border-radius: 100%;
  z-index: 1;
}

.evilRobot__bolt1 {
  left: 165px;
  bottom: 30px;
}

.evilRobot__bolt2 {
  left: 165px;
  bottom: 50px;
}

.evilRobot__bolt3 {
  left: 165px;
  bottom: 70px;
}

.evilRobot__bolt4 {
  left: 165px;
  bottom: 90px;
}

.evilRobot__bolt5 {
  left: 165px;
  bottom: 170px;
}

.evilRobot__bolt6 {
  left: 165px;
  bottom: 190px;
}

.evilRobot__bolt7 {
  left: 165px;
  bottom: 210px;
}

.evilRobot__bolt8 {
  left: 165px;
  bottom: 230px;
}

.evilRobot__bolt9 {
  left: 165px;
  bottom: 130px;
}

.evilRobot__leftArm {
  font-family: sans-serif;
  font-weight: bold;
  width: 150px;
  height: 50px;
  background-color: green;
  -webkit-transform: rotate(200deg);
          transform: rotate(200deg);
  position: relative;
  top: -55px;
  left: -135px;
}

.evilRobot__rightArm {
  font-family: sans-serif;
  font-weight: bold;
  width: 150px;
  height: 50px;
  background-color: green;
  -webkit-transform: rotate(-200deg);
          transform: rotate(-200deg);
  position: relative;
  top: -105px;
  left: 185px;
}

.evilRobot__belt {
  width: 200px;
  height: 30px;
  background-color: darkmagenta;
  position: relative;
  top: 150px;
}

.evilRobot__wheel {
  height: 40px;
  width: 40px;
  background: lightgrey;
  border-radius: 40px;
  border: 15px solid darkgrey;
  position: absolute;
  z-index: -1;
}

.evilRobot__wheel1 {
  bottom: -30px;
  left: 145px;
}

.evilRobot__wheel2 {
  bottom: -30px;
  left: 15px;
}

.treasure {
  position: relative;
  top: 150px;
}

.lid {
  width: 300px;
  height: 150px;
  background-color: #654321;
  border-radius: 16px;
  border: 16px solid saddlebrown;
  position: relative;
  left: 165px;
}

.gold {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: yellow;
  position: absolute;
  z-index: 1;
}

.gold1 {
  left: -10px;
  top: 105px;
}

.gold2 {
  left: 40px;
  top: 110px;
}

.gold3 {
  left: 110px;
  top: 115px;
}

.gold4 {
  left: 190px;
  top: 119px;
}

.gold5 {
  left: 240px;
  top: 108px;
}

.bottom {
  width: 400px;
  height: 200px;
  background-color: saddlebrown;
  border-radius: 16px;
  position: relative;
  left: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.bottomBoard {
  border-bottom: 10px solid #654321;
  height: 50px;
}

.lock {
  width: 70px;
  height: 90px;
  border-radius: 16px;
  background-color: gold;
  position: absolute;
  left: 165px;
}

.lockKeyHole1 {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #d07707;
  position: relative;
  top: 10px;
  left: 20px;
}

.lockKeyHole2 {
  width: 15px;
  height: 25px;
  border-radius: 50px 50px;
  background-color: #d07707;
  position: relative;
  top: 5px;
  left: 27px;
}

.pinkHeart {
  color: #DA9F93;
}
