/* Naming Convention Used: BEM (https://css-tricks.com/bem-101/) w/ camelCase and Media Query Bubbling (https://www.creativebloq.com/how-to/how-to-structure-media-queries-in-sass) */
/* File & Folder Convention Used: 7-1 Pattern (https://sass-guidelin.es/#the-7-1-pattern) w/ camelCase */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

html {
  font-size: 62.5%;
}

h1 {
  color: #F9BF98;
  font-family: 'Nunito', sans-serif;
  font-size: 3.8rem;
  text-align: center;
  margin-top: 20px;
}

p {
  color: #F9BF98;
  font-family: 'Nunito', sans-serif;
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 3.6rem;
  min-width: 175px;
  max-width: 100%;
}

@media (max-width: 739px) {
  p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

a {
  color: #DA9F93;
}

.standOut,
.validateMessage {
  color: cornsilk;
}

.validateMessage {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
  margin: 5px 0 0 45px;
}

@media (max-width: 739px) {
  .miniMouse {
    font-size: 1.4rem;
  }
}

@-webkit-keyframes textColour {
  20% {
    color: #555;
  }
  60% {
    color: #555;
  }
  70% {
    color: #F9BF98;
  }
}

@keyframes textColour {
  20% {
    color: #555;
  }
  60% {
    color: #555;
  }
  70% {
    color: #F9BF98;
  }
}

.changeTextColour {
  -webkit-animation: textColour 5s infinite;
          animation: textColour 5s infinite;
}

body {
  background-color: #664c43;
  padding-top: 15px;
  position: relative;
}

@-webkit-keyframes colour {
  20% {
    background-color: rgba(15, 192, 252, 0.3);
  }
  30% {
    background-color: rgba(123, 29, 175, 0.3);
  }
  40% {
    background-color: rgba(255, 47, 185, 0.3);
  }
  50% {
    background-color: rgba(212, 255, 71, 0.3);
  }
  60% {
    background-color: rgba(50, 205, 50, 0.3);
  }
  70% {
    background-color: #664c43;
  }
}

@keyframes colour {
  20% {
    background-color: rgba(15, 192, 252, 0.3);
  }
  30% {
    background-color: rgba(123, 29, 175, 0.3);
  }
  40% {
    background-color: rgba(255, 47, 185, 0.3);
  }
  50% {
    background-color: rgba(212, 255, 71, 0.3);
  }
  60% {
    background-color: rgba(50, 205, 50, 0.3);
  }
  70% {
    background-color: #664c43;
  }
}

.changeColour {
  -webkit-animation: colour 5s infinite;
          animation: colour 5s infinite;
}

.jQ {
  background-color: bisque;
  border-radius: 50% 50% 75px 75px;
  width: 175px;
  height: 130px;
  margin: 50px auto 75px auto;
  position: relative;
  -webkit-animation: bounce 3s ease infinite;
          animation: bounce 3s ease infinite;
}

.jQ__eye {
  background-color: #272727;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
}

.jQ__eyeShine {
  background-color: white;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
}

.jQ__leftEye {
  top: 45px;
  left: 45px;
}

.jQ__rightEye {
  top: 45px;
  right: 45px;
}

.jQ__leftEyeShine {
  top: 3px;
  left: 2px;
}

.jQ__rightEyeShine {
  top: 3px;
  left: 2px;
}

.jQ__happyEyes {
  color: #272727;
  position: relative;
}

.jQ__happyLeftEye {
  font-size: 3.6rem;
  position: absolute;
  top: 30px;
  left: 50px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.jQ__happyRightEye {
  font-size: 3.6rem;
  position: absolute;
  top: 30px;
  left: 110px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.jQ__cheek {
  background-color: pink;
  border-radius: 50%;
  width: 20px;
  height: 10px;
  position: absolute;
}

.jQ__leftCheek {
  top: 70px;
  left: 40px;
}

.jQ__rightCheek {
  top: 70px;
  right: 40px;
}

.jQ__defaultMouth {
  background-color: #FA8072;
  border-radius: 0 0 50% 50%;
  width: 20px;
  height: 10px;
  position: absolute;
  top: 70px;
  left: 75px;
}

.jQ__shockedMouth {
  background-color: #FA8072;
  border-radius: 100%;
  width: 20px;
  height: 10px;
  position: absolute;
  top: 70px;
  left: 75px;
}

@-webkit-keyframes bounce {
  50% {
    border-radius: 50% 50% 45px 45px;
    -webkit-box-shadow: 0 6px 2px -2px #272727;
            box-shadow: 0 6px 2px -2px #272727;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
}

@keyframes bounce {
  50% {
    border-radius: 50% 50% 45px 45px;
    -webkit-box-shadow: 0 6px 2px -2px #272727;
            box-shadow: 0 6px 2px -2px #272727;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
}

.textBox {
  border: 10px dotted #DA9F93;
  text-align: center;
  min-width: 245px;
  width: 50%;
  margin: 0 auto;
  padding: 50px 50px 55px 50px;
}

.textBox__extraMargin {
  margin-top: 50px;
}

@media (max-width: 739px) {
  .textBox {
    padding: 25px 25px 30px 25px;
  }
}

@media (max-width: 695px) {
  .textBox {
    margin-bottom: 50px;
  }
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1395px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

button {
  background-color: #DA9F93;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 0 0 #463F3A;
          box-shadow: 10px 10px 0 0 #463F3A;
  cursor: pointer;
  color: #463F3A;
  font-size: 2.0rem;
  font-weight: 700;
  margin-top: 25px;
  padding: 20px 30px;
}

button:hover {
  background-color: #967d69;
  color: cornsilk;
}

button:active {
  -webkit-box-shadow: 5px 5px 0 0 #463F3A;
          box-shadow: 5px 5px 0 0 #463F3A;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

button:focus {
  outline: 1px dotted cornsilk;
}

input {
  border-radius: 10px;
  border: none;
  font-size: 2.0rem;
  width: 90%;
  margin-top: 25px;
  padding: 20px 30px;
}

@media (max-width: 739px) {
  input {
    font-size: 1.6rem;
  }
}

.validateHighlight {
  -webkit-box-shadow: 0px 0px 10px cornsilk;
          box-shadow: 0px 0px 10px cornsilk;
}

input:focus {
  outline: 1px dotted cornsilk;
}

.adventureItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 400px;
  bottom: 300px;
}

@media (max-width: 1395px) {
  .adventureItems {
    position: relative;
    top: -25px;
    left: 0;
  }
}

.adventureMargin__mouse {
  margin-bottom: 77px;
}

.adventureMargin__brickWall {
  margin-bottom: 41px;
}

.adventureMargin__evilRobot {
  margin-bottom: 77px;
}

@media (max-width: 1395px) {
  .adventureMargin__mouse {
    margin-bottom: 0;
  }
  .adventureMargin__brickWall {
    margin-bottom: 0;
  }
  .adventureMargin__evilRobot {
    margin-bottom: 0;
  }
}

.cookieBin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cookie {
  background-color: #C5973C;
  border-radius: 100%;
  -webkit-box-shadow: 5px 5px 0px #BD8820;
          box-shadow: 5px 5px 0px #BD8820;
  width: 100px;
  height: 100px;
  position: relative;
}

.cookie__chip {
  background-color: #47330C;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  position: relative;
}

.cookie__chip1 {
  top: 10px;
  left: 50px;
}

.cookie__chip2 {
  top: 50px;
  left: 10px;
}

.cookie__chip3 {
  top: 10px;
  left: 40px;
}

.cookie__chip4 {
  top: 15px;
  left: 70px;
}

.cookie__chip5 {
  top: -30px;
  left: 5px;
}

.cookie__chip6 {
  left: 50px;
}

.cookie__chip7 {
  top: 10px;
  left: 50px;
}

.cookie__chip8 {
  top: 50px;
  left: 10px;
}

.cookie__chip9 {
  top: 10px;
  left: 60px;
}

.cookie__chip10 {
  top: 25px;
  left: 50px;
}

.cookie__chip11 {
  top: -30px;
  left: 5px;
}

.cookie__chip12 {
  top: -55px;
  left: 70px;
}

.mouse {
  position: relative;
}

.mouse__body {
  background-color: grey;
  border-radius: 70px 150% 100% 30px;
  width: 115px;
  height: 50px;
}

.mouse__eye {
  background-color: black;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 15px;
  left: 95px;
  z-index: 1;
}

.mouse__ear {
  background-color: grey;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 70px;
  left: 60px;
}

.mouse__earInner {
  background-color: pink;
  border-radius: 50px 50px 0px 0px;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 82px;
  left: 65px;
}

.mouse__nose {
  background-color: pink;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  position: absolute;
  left: 110px;
  bottom: 55px;
}

.mouse__tail {
  background-color: pink;
  border-radius: 100%;
  width: 75px;
  height: 5px;
  position: relative;
  bottom: 50px;
  right: 70px;
  z-index: -1;
}

.brickWall {
  -webkit-box-shadow: 5px 5px 0 #a04f2a;
          box-shadow: 5px 5px 0 #a04f2a;
  width: 300px;
  position: relative;
  left: 100px;
}

.brickWall__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brickWall__brick {
  background-color: #a04f2a;
  border-radius: 2px;
  border: 2px solid lightgrey;
  height: 50px;
}

.brickWall__edgeBrick {
  width: calc(100% / 3);
}

.brickWall__midRowBrick {
  width: calc(100% / 4);
}

@media (max-width: 1395px) {
  .brickWall {
    left: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    background-image: radial-gradient(circle, red 15%, transparent 40%);
  }
  100% {
    background-image: radial-gradient(circle, red 55%, transparent 70%);
  }
}

@keyframes blink {
  50% {
    background-image: radial-gradient(circle, red 15%, transparent 40%);
  }
  100% {
    background-image: radial-gradient(circle, red 55%, transparent 70%);
  }
}

.evilRobot {
  position: relative;
  top: 200px;
  left: 215px;
}

.evilRobot__head {
  border-top: 150px solid green;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  width: 180px;
  height: 0;
  position: relative;
  left: 10px;
}

.evilRobot__eye {
  background-image: radial-gradient(circle, white 15%, transparent 40%);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: blink 0.5s infinite;
          animation: blink 0.5s infinite;
}

.evilRobot__leftEye {
  bottom: 50px;
  left: 25px;
}

.evilRobot__rightEye {
  bottom: 50px;
  right: 25px;
}

.evilRobot__mouth {
  background-color: silver;
  border-radius: 100% 100% 0 0;
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 60px;
  left: 15px;
}

.evilRobot__torso {
  background-color: green;
  width: 200px;
  height: 300px;
}

.evilRobot__leftArm {
  background-color: green;
  font-family: sans-serif;
  font-weight: bold;
  width: 150px;
  height: 50px;
  position: relative;
  top: -55px;
  left: -135px;
  -webkit-transform: rotate(200deg);
          transform: rotate(200deg);
}

.evilRobot__rightArm {
  background-color: green;
  font-family: sans-serif;
  font-weight: bold;
  width: 150px;
  height: 50px;
  position: relative;
  top: -105px;
  left: 185px;
  -webkit-transform: rotate(-200deg);
          transform: rotate(-200deg);
}

.evilRobot__belt {
  width: 200px;
  height: 30px;
  background-color: darkmagenta;
  position: relative;
  top: 150px;
}

.evilRobot__wheel {
  background-color: lightgrey;
  border-radius: 40px;
  border: 15px solid darkgrey;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: -1;
}

.evilRobot__wheel1 {
  bottom: -30px;
  left: 145px;
}

.evilRobot__wheel2 {
  bottom: -30px;
  left: 15px;
}

@media (max-width: 1395px) {
  .evilRobot {
    margin-bottom: 50px;
    top: 0;
    left: 0;
  }
  .evilRobot__torso {
    width: 150px;
    height: 250px;
    position: relative;
    left: 20px;
  }
  .evilRobot__leftArm {
    width: 75px;
    top: -45px;
    left: -65px;
  }
  .evilRobot__rightArm {
    width: 75px;
    top: -90px;
    left: 140px;
  }
  .evilRobot__wheel {
    border: 10px solid darkgrey;
    width: 30px;
    height: 30px;
  }
  .evilRobot__belt {
    width: 150px;
  }
}

.treasure {
  position: relative;
  top: 150px;
  left: 200px;
}

.treasure__lid {
  background-color: #654321;
  border-radius: 16px;
  border: 16px solid saddlebrown;
  width: 300px;
  height: 150px;
  position: relative;
  left: 50px;
}

.treasure__gold {
  background-color: yellow;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
}

.treasure__gold1 {
  top: 105px;
  left: -10px;
}

.treasure__gold2 {
  top: 110px;
  left: 40px;
}

.treasure__gold3 {
  top: 115px;
  left: 110px;
}

.treasure__gold4 {
  top: 119px;
  left: 190px;
}

.treasure__gold5 {
  top: 108px;
  left: 240px;
}

.treasure__bottom {
  background-color: saddlebrown;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
  height: 200px;
  position: relative;
  z-index: 2;
}

.treasure__bottomBoard {
  border-bottom: 10px solid #654321;
  height: 50px;
}

.treasure__lock {
  background-color: gold;
  border-radius: 16px;
  width: 70px;
  height: 90px;
  position: absolute;
  left: 165px;
}

.treasure__lockKeyHole1 {
  background-color: #d07707;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
  left: 20px;
}

.treasure__lockKeyHole2 {
  background-color: #d07707;
  border-radius: 50px 50px;
  width: 15px;
  height: 25px;
  position: relative;
  top: 5px;
  left: 27px;
}

@media (max-width: 1395px) {
  .treasure {
    top: 0;
    left: 0;
  }
  .treasure__lid {
    width: 250px;
    left: 25px;
  }
  .treasure__gold1 {
    left: 10px;
  }
  .treasure__gold2 {
    left: 20px;
  }
  .treasure__gold3 {
    left: 90px;
  }
  .treasure__gold4 {
    left: 150px;
  }
  .treasure__gold5 {
    left: 170px;
  }
  .treasure__bottom {
    width: 300px;
  }
}

.hidden {
  display: none;
}
